body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ada6a0;
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #545454;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.display--none{
  display: none;
}

.header__wrapper {
  margin: 0 20px;
}

.header__logo {
  text-align: center;
}

.header__logo-link {
  font-size: 40px;
  color: #545454;
  opacity: 0.28;
}

.navigation {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.navigation__menu {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
  justify-content: space-around;
  background-color: #fff;
}

.navigation__list {
  list-style: none;
}

.navigation__link {
  font-size: 16px;
  line-height: 30px;
  color: #5b5b5b;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #2b2b2b;
  color: #a8c6ff;
}

.header__search {
  padding: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.header__search-input {
  width: 262px;
  padding: 0 15px;
  border: 1px solid #ececec;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
  color: #5b5b5b;
  background-color: #fafafa;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 220px center;
}

.header__search-input:focus {
  border: 1px solid #a8c6ff;
}

.header__search-input::placeholder {
  color: #545454;
  opacity: 0.19;
}

/* Slideshow container */
.blog-slider__container {
  position: relative;
  margin: 10px 20px;
  padding: 15px 10px 0;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.blog-slider__container .blogSlides img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 13px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.blogSlider__dots {
  height: 13px;
  line-height: 13px;
  text-align: center;
}

.blogSlider__dots--dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.blogSlider__dots--dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.news__wrapper {
  margin: 0 20px;
}

.news__item {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.news__img {
  width: 200px;
  margin: 0 auto;
}

.news__info {
  margin: 20px 0;
  text-align: justify;
  text-indent: 30px;
}

.news__link-container {
  text-align: right;
}

.news__link {
  color: #000;
  text-decoration: underline;
}

.news__link:hover,
.news__link:focus {
  color: #a8c6ff;
}

.about-site__wrapper {
  margin: 0 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.about-site__img-wrapper {
  display: flex;
  margin: 0 auto;
  width: 205px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-site__img {
  width: 100px;
  margin-bottom: 5px;
}

.about-site__header {
  margin: 10px 0;
  font-size: 16px;
}

.about-site__text {
  margin: 15px 0 25px;
  font-size: 12px;
  color: #1f1f1f;
  text-indent: 30px;
  text-align: justify;
}

.about-site__link-container {
  text-align: right;
}

.about-site__link {
  font-size: 12px;
  color: #000;
  text-decoration: underline;
}

.about-site__link:hover,
.about-site__link:focus {
  color: #a8c6ff;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 20px 115px;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #545454;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
  .header__wrapper {
    width: 708px;
    margin: 0 auto;
  }

  .header__logo {
    padding-top: 10px;
  }

  .header__logo-link {
    font-size: 64px;
  }

  .header__menu-wrapper {
    display: flex;
    margin: 10px 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  }

  .navigation {
    flex-grow: 1;
    box-shadow: none;
  }

  .navigation__menu {
    margin: 0;
    padding: 0;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 52px;
  }

  .header__search {
    box-shadow: none;
  }

  .header__search-input {
    font-size: 18px;
  }

  .blog-slider__container {
    max-width: 708px;
    margin: 0 auto;
  }

  .news__wrapper {
    display: flex;
    width: 708px;
    margin: 15px auto 5px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news__item {
    width: 325px;
  }

  .about-site__wrapper {
    display: flex;
    width: 708px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .about-site__img-wrapper {
    flex-shrink: 0;
  }

  .about-site__info {
    margin-left: 10px;
  }

  .about-site__header {
    margin: 5px 0;
    font-size: 18px;
  }

  .about-site__text {
    margin: 0;
  }

  .footer__wrapper {
    width: 708px;
    height: 55px;
    margin: 15px auto 115px;
    flex-direction: row;
    font-size: 14px;
    box-sizing: border-box;
  }

  .footer__info {
    margin-right: 15px;
  }
}

@media (min-width: 1024px) {
  .header__wrapper {
    width: 929px;
  }

  .header__logo {
    padding-top: 23px;
  }

  .header__logo-link {
    font-size: 88px;
  }

  .header__menu-wrapper {
    margin: 13px 0 15px;
    background-color: #fff;
  }

  .navigation__menu {
    width: 415px;
    margin: 0 48px;
    justify-content: space-between;
  }

  .navigation__link {
    line-height: 55px;
  }

  .header__search {
    margin-right: 5px;
  }

  .header__search-input {
    line-height: 32px;
  }

  .blog-slider__container {
    max-width: 929px;
  }

  .news__wrapper {
    width: 929px;
    margin: 17px auto 5px;
    flex-wrap: nowrap;
  }

  .news__item {
    width: 224px;
    padding: 10px 10px 17px;
    box-sizing: border-box;
  }

  .news__info {
    margin: 27px 0;
  }

  .about-site__wrapper {
    width: 929px;
    padding: 10px 10px 0;
  }

  .about-site__img-wrapper {
    width: 216px;
  }

  .about-site__img {
    width: 102px;
    margin-bottom: 10px;
  }

  .about-site__info {
    margin-left: 12px;
  }

  .about-site__header {
    margin: 2px 0;
  }

  .about-site__text {
    margin: 10px 0 30px;
  }

  .footer__wrapper {
    width: 929px;
    margin: 15px auto 115px;
    padding: 20px;
  }

  .footer__info {
    margin-right: 10px;
  }
}
